@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
.navbar__logo{
    width: 6rem;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
h1{
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.summerj {
    margin-left: 100px;
}

.text {
    margin-left: 30px;
    display: block;
}

.nav-item{
    padding: 10px;
}

li > a:hover{
    background-color: gray;
    padding: 1rem;
    border-radius: 99999px;
}

@media (max-width: 700px) {
    .main{
        flex-direction: column;
    }

    .summerj{
        width: 20rem;
        margin-inline: 12rem;
    }

    .text{
        width: 20rem;
        margin:2rem auto;
    }
}