@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');

.navbar__logo{
    width: 6rem;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.cards-1{
    margin: 3rem;
    border-color: black;
    margin: 0 auto;
}

.img{
    width: 18rem;
    border: none;
    background-color: gray;
}

.imgB{
    width: 10rem;
    height: 10rem;
    margin-top: 5rem;
}

.imgG{
    height: 8.5rem;
    margin-top: 6rem ;
}
.imgC{
    width: 13rem;
    height: 13rem;
    margin-top: 2.5rem ;
}
.imgH{
    width: 13rem;
    height: 13rem;
    margin-top: 2.5rem ;
}

.imgJ{
    width: 13rem;
    height: 13rem;
    margin-top: 2.5rem ;
}

li > a:hover{
    background-color: gray;
    color: gray;
    padding: 1rem;
    border-radius: 99999px;
}

@media (max-width: 426px) {
    .edu-flex{
        flex-direction: column;
    }

    .skills-flex{
        flex-direction: column;
        margin-inline: 7rem;
        margin-bottom: 2rem;
    }
}

