@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
.navbar__logo{
    width: 6rem;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}

.image{
     border-radius: 999999px;
     margin: auto;
     display: flex;
     justify-content: center;
    padding: 1%;
}

