@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
.navbar__logo{
    width: 6rem;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.cards-1{
    margin: 3rem;
    border-color: black;
}

/* .img{
    border-radius: 50%;
    position: relative;
    width: 15rem;
    bottom: 5rem;
    background-color: grey;
} */

.img{
    width: 18rem;
   
    background-color: gray;
}
