@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
.navbar__logo{
    width: 6rem;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.cards-1{
    margin: 3rem;
    border-color: black;
}

.img{
    width: 18rem;
   
    background-color: gray;
}

li > a:hover{
    background-color: gray;
    color: gray;
    padding: 1rem;
    border-radius: 99999px;
}

.nav-item{
    padding: 10px;
}

@media (max-width:426px) {
    .project-flex{
        flex-direction: column;
    }
}